body {
    font-family: Arial, sans-serif;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

form {
    display: inline-block;
    margin-top: 20px;
}

label, input {
    display: block;
    margin: 10px auto;
    text-align: left;
    width: 80%;
    max-width: 400px;
}

#drop-area {
    border: 2px dashed #007bff;
    padding: 20px;
    cursor: pointer;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}
